* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

h1 {
  font-size: 4rem;
}

//Responsive

//Responsive Nav
@media screen and (max-width: 100rem) {
  .menu {
    nav {
      h1 {
        font-size: 3rem;
      }
      li {
        line-height: 5rem;
      }
    }
  }
}

@media screen and (max-width: 70rem) {
  html {
    font-size: 50%;
  }
  .menu {
    text-align: center;
    nav {
      h1 {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 50rem) {
  html {
    font-size: 35%;
  }
}
