.menu {
  position: fixed;
  height: 100vh;
  background: black;
  width: 10vw;
  transition: 1s;
  #active {
    color: rgb(200, 10, 10);
  }
  &:hover {
    width: 30vw;
  }
  &:hover nav {
    left: 20%;
  }
  nav {
    position: absolute;
    margin-top: 50%;
    left: -100rem;
    transition: 0.5s;
    h1 {
      padding-bottom: 2rem;
    }
    ul {
      color: white;
      text-transform: uppercase;
      list-style-type: none;
    }
    li {
      line-height: 2.5rem;
      letter-spacing: 0.3em;
      &:hover {
        opacity: 0.5;
        text-decoration: underline;
      }
    }
    a {
      font-size: 3rem;
      text-decoration: none;
      color: white;
      font-weight: 600;
    }
  }
}
