main {
  width: 90vw;
  margin-left: 15vw;
  background: #fdfdfd;
  transition: 1s;
  transform-origin: left center;
  color: black;
  .content {
    padding: 10rem 20%;
  }
  h1 {
    font-size: 10rem;
    margin-top: 20%;
    padding-bottom: 5rem;
  }
  h2 {
    font-size: 5rem;
    padding-bottom: 5rem;
  }
  h3 {
    font-size: 3rem;
  }
  h4 {
    font-size: 2rem;
  }
  h5 {
    font-size: 1rem;
  }
  p {
    font-size: 2.4rem;
    line-height: 1rem;
  }
  a {
    text-decoration: none;
    color: rgb(200, 10, 10);
  }
}
