main {
  width: 90%;
  margin-left: 15vw;
  background: #fdfdfd;
  transition: 1s;
  transform-origin: left center;
  color: black;
  .content {
    padding: 10rem 20%;
  }
  h1 {
    font-size: 7rem;
  }
}
